@mixin custom-form
    .form-row
        margin: 0
        [class*=col-],
        .col
            padding: 0
        div
            > div   
                position: relative
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 2px
                    background-color: $accent
                    height: 8px
                    z-index: 2
                    opacity: 0
                    transition: all .35s ease
                &::after
                    content: ""
                    position: absolute
                    right: 0
                    bottom: 0
                    width: 2px
                    background-color: $accent
                    height: 8px
                    z-index: 2
                    opacity: 0
                    transition: all .35s ease
                &.focusing
                    &::after,
                    &::before
                        opacity: 1
    input:not([type=submit]),
    textarea
        position: relative
        border: none
        border-bottom: 1px solid $subaccent
        font-family: "Montserrat Regular", sans-serif
        font-size: 14px
        letter-spacing: .35px
        line-height: 18px
        padding: 0 20px 16px 20px
        width: 100%
        color: #474747
        transition: all .15s ease-in-out
        &:focus
            border-color: $accent
            border-width: 2px
    textarea
        padding-bottom: 0
        resize: none
    .send
        position: relative
        span
            font-family: $semibold
            font-size: 14px
            text-transform: uppercase
            position: absolute
            left: 19px
            top: 10px
            background-color: #fff
            white-space: nowrap
            pointer-events: none
            color: $subaccent
            img
                margin-left: 5px
        &:hover
            span
                img
                    margin-left: 15px
    input[type=submit]
        position: relative
        background-color: transparent
        border: 2px solid $subaccent
        width: 91px
        height: 45px
        transition: all .5s ease
        